<h1>What grind is it?</h1>

<h3>A website for all things grind size.</h3>

<p>This site is meant to be a comprehensive guide to grind size comparability between machines. It's a work in progress, please reach out if you would like to contribute. This is à 100% a pet project, so be nice. and don't ask me why, I just like to geek out on this stuff.</p>
